body {
  background-color: #eee;
  color:#444;
}

.fa {
  color:#666;
}

hr {
  border-color: transparent;
}
#userList {
  display:none;
}

#loader {
  position:absolute;
  z-index:2;
  width:100%;
  text-align:center;
  top:40%;
}

.cap:first-letter {
    text-transform: uppercase;
}

.alt {
	background-color:#ccc;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.lobby-box {
  float:left;
	background-color: white;
  position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.lobby-box .box-header {
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.lobby-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.lobby-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.lobby-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}

.lobby-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.lobby-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.gameLobbyBannerPicture{
    height: 200px;
}
/*start of modal css*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.buttonBlue {background-color: #008CBA;} /* Blue */
.buttonRed {background-color: #f44336;} /* Red */
.buttonGray {background-color: #e7e7e7; color: black;} /* Gray */
.buttonBlack {background-color: #555555;} /* Black */
/* mouse over link For buttons in Create New Game Modal*/
.buttonGreen:hover {
	background: rgba(0,0,0,0);
	color: #4CAF50;
	box-shadow: inset 0 0 0 3px #4CAF50;
}
.buttonRed:hover {
	background: rgba(0,0,0,0);
	color: #f44336;
	box-shadow: inset 0 0 0 3px #f44336;
}
.buttonBlue:hover {
	background: rgba(0,0,0,0);
	color: #008CBA;
	box-shadow: inset 0 0 0 3px #008CBA;
}
.buttonGray:hover {
	background: rgba(0,0,0,0);
	color: #e7e7e7;
	box-shadow: inset 0 0 0 3px #e7e7e7;
}
.buttonBlack:hover {
	background: rgba(0,0,0,0);
	color: #555555;;
	box-shadow: inset 0 0 0 3px #555555;
}
/* selected link */
button:active {
    color: #0000FF;
}
/* END of mouse over link For buttons in Create New Game Modal*/


/*end of modal css*/
