<script type="text/ng-template" id="waitingToStartGameModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Waiting to start the game</h3>
	</div>
	<div class="modal-body">
		<ul>
		    <li ng-repeat="player in ppl">
				{{ player.name }} , {{ player.color }}
		    </li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button" ng-click="ok()">Start</button>
	<center><uib-alert ng-show="alert.showAlert" type="{{ alert.type }}">{{ alert.message }} </uib-alert></center>
	</div>
</script>

<!-- This is the scaffolding for the main game -->
<div class="gameScaffolding">

<div id="sp-page"> <!-- the main game screen-->
<div style="height:100%; position:fixed; width:100%;">
      <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="mainGame">Ticket To Ride</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav">
            <li uib-dropdown="">
              <a href="#/game" uib-dropdown-toggle="">
                        Other Games  <b class="caret"></b>
              </a>
              <tree tree="games" style="cursor:pointer;"></tree>
            </li><!--
	   <li>
		<a ui-sref="mainGame2"> Change View </a>
	   </li>-->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>

	<div class="col-xs-2" style="height:100%; background-color:#eaeaea;">
				
		<div class="row" style="">
			<div style="height:100%; padding-bottom:100%;" ui-view="menu"></div> 
			<hr>
			<div style="padding-top:60px;" ui-view="chat"></div>
		</div>
	</div> 
	<div class="col-xs-10" style="height:100%; padding:0;">
		<div class="row" style="height:65%;">
			<div class="col-xs-10" id="canvasHolder" style="height:100%;padding-left:0; padding-right:0;padding-bottom:5%;">
				<div ui-view="canvas"></div>
			</div>
			<div class="col-xs-2" id="rightTabs" style="background-color:yellow; height:100%;">
				<div ui-view="rightTabs"></div>
			</div>
		</div>
		<div class="row" style="height:35%; background-color:#eaeaea;">
			<div class="col-xs-12" style="height:100%">
				<div ui-view="bottomTabs"></div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
