
<div class="navbar navbar-inverse">
		 <div class="container">
			 <div class="navbar-header pull-left">
				 <a class="navbar-brand">Ticket To Ride Game Lobby</a>
			 </div>
			 <div class="navbar-header pull-right">
				 <p class="navbar-text">
					 <button ng-click="logOut()" class="button">Logout</button>&nbsp;
				 </p>
			 </div>
	 </div>
 </div>
<div class="text-center">
	<button type="button" name="button" class="button" ng-click="toggleCreateNewGameModal()">Create New Game</button>
	<modal-dialog show='modalShown' width='750px' height='60%'>
		<div class="box-header">
			<h2>Create New Game</h2>
		</div>
			<label for="username">New Game Name</label>
			<br/>
			<input type="text" class="form-control" ng-model="newGameName" required=""/>
			<br/>
			<label>Click color to join:</label>
			<button type="submit" ng-click="createNewGame('green',newGameName)"class="button buttonGreen">Green</button>
			<button type="submit" ng-click="createNewGame('blue',newGameName)"class="button buttonBlue">Blue</button>
			<button type="submit" ng-click="createNewGame('red',newGameName)"class="button buttonRed">Red</button>
			<button type="submit" ng-click="createNewGame('yellow',newGameName)"class="button buttonYellow">yellow</button>
			<button type="submit" ng-click="createNewGame('black',newGameName)"class="button buttonBlack">Black</button></br>
			<!-- end of list of buttons-->
    		<br/>
	</modal-dialog>
</div>
<!--Create newGame BUTTON AND MODAL -->
<!--<div class="container .col-md-12">-->
	<!--AVAILABLE GAMES BOX -->
	<div class="container">
	<div class="lobby-box animated fadeInUp col-md-5">
		<div class="box-header">
			<h2>Available Games</h2>
		</div>
		<div class="row" ng-repeat-start="game in availableGames" ng-click="showDetailAvailableGames(game)" ng-class-odd="'alt'">
			<label class="col-md-5 cap">Game Name:{{game.gameName}}</label>
		<label class="col-md-5 strong">players in Game:{{game.players.length}}</label>
		<div class="col-md-1 text-right">
			<a href="">
					<i ng-hide="activeAvailableGames==game.gameId" class="fa fa-plus"></i>
      		<i ng-show="activeAvailableGames==game.gameId" class="fa fa-minus"></i>
				</a>
			</div>
		</div>
		<div class="row" ng-repeat-end="" ng-show="activeAvailableGames==game.gameId" ng-class-odd="'alt'">
			<div >
				<div>
					<label>Players: </label>
					<span ng-repeat="player in game.players">{{player.username}}&nbsp</span>
				</div>
				<div>
					<label>Colors: </label>
					<span ng-repeat="color in game.availableColors">
          	<button type="button" name="button" class="button" ng-click="joinGame(game,color)">{{color}}</button>
          </span>
				</div>
			</div>
		</div>
	</div>
	<!--END AVAILABLE GAMES BOX -->
	<!--YOUR GAMES BOX -->

	<div class="lobby-box animated fadeInUp col-md-5">
		<div class="box-header">
			<h2>Your Games</h2>
		</div>
		<div class="row" ng-repeat-start="game in myGames" ng-click="showDetailMyGames(game)" ng-class-odd="'alt'">
				<label class="col-md-5 cap">Game Name:{{game.gameName}}</label>
			<label class="col-md-5 strong">players in Game:{{game.players.length}}</label>
			<div class="col-md-1 text-right">
				<a href="">
					<i ng-hide="activeMyGames==game.gameId" class="fa fa-plus"></i>
        	<i ng-show="activeMyGames==game.gameId" class="fa fa-minus"></i>
				</a>
			</div>
		 </div>
		<div class="row" ng-repeat-end="" ng-show="activeMyGames==game.gameId" ng-class-odd="'alt'">
			<div>
				<div>
					<label>Players: </label>
					<span ng-repeat="player in game.players">{{player.username}}&nbsp</span>
				</div>
				<div>
          	<button type="button" name="button" class="button" ng-click="reJoinGame(game)">REJOIN</button>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--END YOUR GAMES BOX -->
<!--</div>-->
