    <script type="text/ng-template" id="destinationModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Select at least {{ amountOfDestinationsToPick }} destinations</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="destCard in availableDestsToPickFrom">
                    <input type="checkbox" ng-model="destCard.selected"></input> 
		    <img src="images/routeCards/{{destCard.url}}" ng-class="destCard.selected ? 'trainDeckCards' : 'trainDeckCardsDisabled'" height="125px"></img>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	    <center><uib-alert ng-show="alert.showAlert" type="{{ alert.type }}">{{ alert.message }} </uib-alert></center>
        </div>
    </script>


<center>
	<div ng-class="disableCard('destination') ? '' : 'trainDeckCardsContainer'"> <!-- The destination cards pic -->
		<img ng-class="disableCard('destination') ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/routeCards/ttr-route-back.jpg" height="{{ heightAmount }}" ng-click="cardSelected('destination')"></img>
	</div>
	<div ng-class="disableCard(5) ? '' : 'trainDeckCardsContainer'"> <!-- The Train card deck pic -->
		<img ng-class="disableCard(5) ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/trainCards/ttr-train-back.jpg" height="{{ heightAmount }}" ng-click="cardSelected(5)"></img>
	</div>
	<div ng-class="disableCard($index) ? '' : 'trainDeckCardsContainer'" class="" ng-repeat="card in cardsVisible track by $index" ng-click="cardSelected($index)">
		<img ng-class="disableCard($index) ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/trainCards/ttr-train-{{ card }}.jpg" height="{{ heightAmount }}"></img>
	</div>
</center>
