    <script type="text/ng-template" id="destinationModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Select at least {{ amountOfDestinationsToPick }} destinations</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="destCard in availableDestsToPickFrom">
                    <input type="checkbox" ng-model="destCard.selected" style="display:none"></input> 
		    <img src="images/routeCards/{{destCard.url}}" ng-class="destCard.selected ? 'trainDeckCards' : 'trainDeckCardsDisabled'" height="125px" ng-click="destCardSelected($index)" style="cursor:pointer;"></img>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	    <center><uib-alert ng-show="alert.showAlert" type="{{ alert.type }}">{{ alert.message }} </uib-alert></center>
        </div>
    </script>


<center>
	<div ng-if="!selectDestOnRight">
		<div ng-class="disableCard('destination') ? '' : 'trainDeckCardsContainer'"> <!-- The destination cards pic -->
			<img ng-class="disableCard('destination') ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/routeCards/ttr-route-back.jpg" height="{{ heightAmount }}" ng-click="cardSelected('destination')" ng-disabled="disableCard('destination')"></img>
		</div>
		<div ng-class="disableCard(5) ? '' : 'trainDeckCardsContainer'"> <!-- The Train card deck pic -->
			<img ng-class="disableCard(5) ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/trainCards/ttr-train-back.jpg" height="{{ heightAmount }}" ng-click="cardSelected(5)" ng-disabled="disableCard(5)"></img>
		</div>
		<div ng-class="disableCard($index) ? '' : 'trainDeckCardsContainer'" ng-repeat="card in cardsVisible track by $index" ng-disabled="disableCard($index)" ng-click="cardSelected($index)">
			<img ng-class="disableCard($index) ? 'trainDeckCardsDisabled' : 'trainDeckCards'" src="images/trainCards/ttr-train-{{ card }}.jpg" height="{{ heightAmount }}"></img>
		</div>
	</div>

	<div ng-if="selectDestOnRight">

		<div ng-repeat="destCard in availableDestsToPickFrom" ng-click="destCardSelected($index)">
			<img src="images/routeCards/{{destCard.url}}" ng-class="destCard.selected ? 'trainDeckCards' : 'trainDeckCardsDisabled'" height="{{ heightAmount }}" style="cursor:pointer;"></img>
			<div style="color:white;">
				<b>From:</b> {{ destCard.city1 }} <br/> <b>To:</b> {{ destCard.city2 }} <br/> <b>Points:</b> {{ destCard.points }}
			</div>
		</div>

		<button class="btn btn-success" ng-click="selectDestSubmitPressed(availableDestsToPickFrom)">Make Selection</button>
	</div>
</center>













