<div id="trainCardsInHandTab" class="col-xs-6">

	<h5 class="text-center" style="color: #777;">Train Cards in your hand</h5>
	<div ng-repeat="(color, amount) in playersTrainCards track by $index" style="float:left; padding-right:10%; padding-bottom:5%;">
	  <img src="images/trainCards/ttr-train-{{ color }}.jpg" height="20px"></img> : {{ amount }}
	</div>

</div>
<div class="col-xs-6">
	<h5 class="text-center" style="color: #777;"> Destinations in your hand</h5>
	<table st-table="destinationsToShow" st-safe-src="destinations" class="table table-striped" >
		<thead>
		<tr>
			<th >City</th>
			<th >City</th>
			<th >Completed</th>
			<th >Points</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="dest in destinationsToShow" >
			<td>{{ dest.cityName1 }}</td>
			<td>{{ dest.cityName2 }}</td>
			<td><i ng-class="{'fa fa-check': (dest.isComplete == true), 'fa fa-times': (dest.isComplete != true) }"
				ng-style="{ color: dest.isComplete == true ? 'green' : 'red' }"></i></td>
			<td>{{ dest.points }}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="1" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div> 

